{% extends 'base.html' %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block content %}
<hr>
<!-- custom recipe model -->
<h1>{{ recipe.title }}</h1>
<!-- sample recipe model -->
<!-- <h1>{{ recipe.strmeal }}</h1> -->
<hr>
<h3>Recipe provided by: {{ recipe.user.username }}</h3>
<p><strong>Ingredients:</strong></p>
<ul>
    <!-- Custom model detail -->
    {% for ingredient in ingredients %}
        <li>{{ ingredient }}
        <select style="margin-left: 20px;">
            <option>Request Alternative</option>
            <option>Alternative 1</option>
            <option>Alternative 2</option>
            <option>Alternative 3</option>
        </select>
        </li>
    {% endfor %}
    <!-- Sample recipe detail. no for loop since each ingredient has its own col. stringredient1,2,3 etc. -->
    <!-- <li>{{ recipe.stringredient1 }}
    <select style="margin-left: 20px;">
        <option>Request Alternative</option>
        <option>Alternative 1</option>
        <option>Alternative 2</option>
        <option>Alternative 3</option>
    </select>
    </li> -->
</ul>
<p><strong>Instructions:</strong></p>
<ol>
    {% for instruction in instructions %}
        <li>{{ instruction }}</li>
    {% endfor %}
</ol>
    {% if recipe.image %}
    <!-- custom recipe model {{ recipe.title }} -->
    <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" width="150">
    {% endif %}
    <!-- sample recipe model -->
    <!-- <img src="{{ recipe.id }}" alt="{{ recipe.strmeal }}" width="150"> -->
{% endblock %}
