{% extends 'base.html' %}

{% block title %}View Profile{% endblock %}

{% block content %}
<h1>Profile for {{ request.user.username }}</h1>
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 50%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
    </head>
    <body>
    <h2>Allergies</h2>
    {% if allergies %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for allergy in profile.allergies %}
                <tr>
                    <td>{{ allergy }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No allergies listed.</p>
    {% endif %}
    <br>
<a href="{% url 'edit_profile' %}">Edit Profile</a>
{% endblock %}
